.links-and-social {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;

    padding: 2em;

    .links__section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social__section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.style2 {
    a {
        text-decoration: none;
    }
}

.social-media_list {
    display: flex;
    align-items: center;
    li {
        a {
            width: 75%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(103, 69, 106);
            border-radius: 5px;
            .social-media__icon {
                color: rgb(185, 145, 145) !important;
            }
        }
        a:hover {
            background: rgba(185, 145, 145, 0.2);
        }
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
