@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800');

*,
*:before,
*:after {
    box-sizing: border-box;
}
//reset
html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

.App {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    line-height: 2.25em;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(222, 99, 154);
    border-radius: 10px;
}
#dark::-webkit-scrollbar-thumb {
    background: #16001e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 99, 154, 0.75);
}

/* Headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    font-weight: 800;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

h2 {
    font-size: 2.25em;
    margin: 0 0 1.1em 0;
    line-height: 1em;
}

h3 {
    font-size: 1.35em;
    margin: 0 0 1em 0;
}

/* Container */

.container {
    margin: 0 auto;
    // max-width: 100%;
    max-width: 100vw;
    // height: 100vh;
}
#light {
    background-color: rgba(255, 68, 134, 0.3);
}
#dark {
    background-color: rgb(40, 7, 26);
}

/* Forms */

form label {
    display: block;
    font-weight: 800;
    margin: 0 0 1em 0;
    font-size: 0.8em;
    color: #444;
}

/* Widgets */

.widget.thumbnails .grid {
    margin: 0 0 3em 0;
}

.widget.thumbnails .image {
    margin: 0;
}

/* Wrappers */

#header-wrapper {
    padding: 4.5em 0 3em 0;

    padding: 3em 0 3em 0;
}

#features-wrapper {
    padding: 3em 0 3em 0;
}

#footer-wrapper {
    padding: 6em 0 8em 0;
}

/* Header */

/* Banner */

#banner {
    position: relative;
    padding: 4.5em;
}

#banner h2 {
    font-size: 3.5em;
    margin: 0.1em 0 0.35em 0;
}

#banner p {
    font-size: 2.75em;
    line-height: 1.35em;
    margin: 0;
}

#banner .button {
    width: 100%;
    margin-bottom: 0.5em;
}

#banner ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 2em;
}

#banner ul li {
    padding-left: 0;
}

/* Footer */

#footer {
    margin-top: 0;
}

#copyright {
    color: #aaa;
    padding: 4em 0 0 0;
    text-align: center;
}

#copyright a {
    color: inherit;
}

/* XLarge */

@media screen and (max-width: 1680px) {
    /* Basic */

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

/* Large */

@media screen and (max-width: 1280px) {
    /* Basic */

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }
}

/* Medium */

@media screen and (max-width: 980px) {
    /* Basic */

    html,
    body {
        overflow-x: hidden;
    }

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

    /* Section/Article */

    section,
    article {
        clear: both;
        margin-bottom: 3em !important;
    }

    section.last,
    article.last {
        margin-bottom: 0 !important;
    }

    /* Button */

    input[type='button'],
    input[type='submit'],
    input[type='reset'],
    button,
    .button {
        width: 100%;
        text-align: center;
        font-size: 1.35em;
        padding: 0.85em 0 !important;
    }

    input[type='button'].icon,
    input[type='submit'].icon,
    input[type='reset'].icon,
    button.icon,
    .button.icon {
        padding-right: 0.75em !important;
    }

    input[type='button'].icon:before,
    input[type='submit'].icon:before,
    input[type='reset'].icon:before,
    button.icon:before,
    .button.icon:before {
        margin-right: 0.5em;
        top: 0.05em;
    }

    /* Wrappers */

    #header-wrapper {
        padding: 3em 0 1em 0;
        text-align: center;
    }

    #footer-wrapper {
        padding: 6em 0 4em 0;
    }

    /* Header */

    #header {
        margin: 0 auto;
    }

    /* Logo */

    #logo span {
        display: block;
        margin: 0;
    }

    /* Nav */

    #nav {
        display: none;
    }

    /* Banner */

    #banner {
        padding: 4.5em 3em;
        text-align: center;
    }

    #banner ul {
        margin: 2em 0 0 0;
    }

    // #banner .button.icon:before {
    //     position: relative;
    //     right: auto;
    //     top: auto;
    // }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Small */

@media screen and (max-width: 736px) {
    /* Basic */

    body,
    input,
    select,
    textarea {
        line-height: 2em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 13pt;
        margin: 0 0 1em 0;
    }

    /* Section/Article */

    section,
    article {
        clear: both;
        margin-bottom: 3em !important;
    }

    section.last,
    article.last {
        margin-bottom: 0 !important;
    }

    /* Image */

    .image.left {
        width: 25%;
        margin-bottom: 2em !important;
    }

    /* Wrappers */

    #header-wrapper {
        padding: 3em 0 1.5em 0;
    }

    #banner-wrapper {
        padding: 0 15px 0 15px;
    }

    #features-wrapper {
        padding: 0 15px 40px 15px;
    }

    #main-wrapper,
    #footer-wrapper {
        padding: 40px 30px 40px 30px;
    }
}
