#logo h1 {
    background: #ff4486;
    color: #fff;
    border-radius: 10px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.4em;
    font-size: 3.25em;
    letter-spacing: 0.05em;
    // display: inline-block;
    // vertical-align: middle;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.9em;
}
