#header {
    background-color: rgba(84, 242, 242, 0.25);
    height: 7rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 1rem;
    position: relative;
    // margin: 0 0 5rem 0;
}
#dark #header {
    background: rgba(3, 0, 30, 0.8);
}
#nav ul li a,
#nav ul li span {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
}
#nav ul li:hover a,
#nav ul li:hover span {
    background: #fff;
}
#logo h1 {
    background: rgba(255, 68, 134, 0.5);

    color: #fff;
    border-radius: 10px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.4em;
    font-size: 3.25em;
    letter-spacing: 0.05em;
    // display: inline-block;
    // vertical-align: middle;
}
#dark #logo h1 {
    background: rgba(222, 99, 154, 0.6);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    font-size: 0.9em;
    li {
        margin-left: 0.75rem;
    }

    .current {
        background-color: rgba(34, 117, 165, 0.3);
        border-radius: 10px;
    }
}
#dark .current {
    background-color: rgba(17, 10, 83, 0.9);
}

#nav ul {
    list-style: none;
    /* padding-left: 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.switch {
    width: 10rem;
    color: #1c0b19;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0rem;

    margin: 0.5rem;
}
#dark .switch {
    color: #fdfffc;
}
